doctype html
html
    title Jira tasker
body
  include header

  .container#createBlock
    h1 Jira tasker

    form.form-horizontal#jiraForm(role='form', method='post')
      .form-group
        label.col-sm-2.control-label(for='parentTask') Parent task
        .col-sm-5
          input.form-control#parentTask(type='text', name='parentTask', value='aloha-757,ALOHA-757,ecomdii-4, ALOha-757, ecomchiv-453, ecomm-54, ecomchiv-342,ecomcrt-89')
      each value, index in tasker.getAllSubtasks()
        .form-group
          label.col-sm-2.control-label= index
          .col-sm-10
            each val, i in value
              .checkbox
                label
                  input(type='checkbox', name=index + '_' + i)
                  = val.summary
      // .form-group
        label.col-sm-2.control-label(for='qaAssignee') QA assignee
        .col-sm-5
          input.form-control#qaAssignee(type='text', name='qaAssignee')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type='submit') Create

  include progress

  include footer