doctype html
html
    title Login to Jira
body
  include header

  link(rel='stylesheet', href='/css/login.css')

  .container#loginBlock
    form.form-signin(role='form', method='post')
      h2  Please sign in to Jira
      input.form-control.has-error(type='text', name='username', placeholder='nikita.zubarets', value='nikita.zubarets')
      input.form-control(type='password', name='password', placeholder='password123', value='Summer2014')
      input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Sign in')

  include footer